server {
    listen 80;
    server_name class01.example.com;

    return 308 https://class01.example.com$request_uri;
}

server {
    listen 443 ssl;
    server_name class01.example.com;

    ssl_certificate /etc/letsencrypt/live/class01.example.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/class01.example.com/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 1d;

    client_max_body_size 6m;

    location / {
        proxy_pass http://127.0.0.1:5000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto https;
    }
}
